<div class="row">
    <div class="col-md-12">
        <h1>Inmates</h1>
        <button class="btn btn-success" (click)="createNewInmate()">New Inmate</button>
        <hr>
        <div class="form-group">
            <input type="search" class="form-control" placeholder="Search Inmates" (input)="onFilterInmates($event)"/>
        </div>
        
        <table id="inmate-table" class="table table-bordered">
            <thead>
                <tr>
                    <td (click)="onResortInmates($event, 'id')">ID <span class="sort-icon asc">&#8595;</span><span class="sort-icon desc">&#8593;</span></td>
                    <td (click)="onResortInmates($event, 'name')">Name <span class="sort-icon asc">&#8595;</span><span class="sort-icon desc">&#8593;</span></td>
                    <td (click)="onResortInmates($event, 'currentLocationName')">Current Location <span class="sort-icon asc">&#8595;</span><span class="sort-icon desc">&#8593;</span></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inmate of sortInmates()">
                    <td>{{inmate.id}}</td>
                    <td><a (click)="onSelectInmate(inmate)" href="#">{{inmate.name}}</a></td>
                    <td>{{inmate.currentLocationName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>